@import "/reset.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.dark{

    --backgroungColor:#1e1f1f;
    --darkOne:#312f3a;
    --darkTwo:#45424b;
    --text-color: #e5e5e5;;
    --slider-progress:#f79443;
    --display-box:#505050;
}

.light{

    --mainColor:#64bcf4;
    --hoverColor:#5bacdf;
    --backgroungColor:#ECE8E4;
    --darkOne:#312f3a;
    --darkTwo:#45424b;
    --text-color:rgb(100 77 69);
    --slider-progress:#f79443;
    --display-box:#f1f1f1;
}
h1{
    margin: 2rem 0;
    font-size: 40px;
    font-weight: 600;
    /* color: #178181; */
    color: var(--text-color)
}

a{
    text-decoration: none;
    color: var(--text-color);

}
li{
    list-style: none;
    color: var(--text-color);
}
.big-wrapper{
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroungColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    position: relative;
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}
header .container{
    background-color: #ff8358;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.hero-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
 }
 .logo-mg{
     width: 35%;
     margin-right: -1rem;
 }
 .bg-color{
     color: var(--text-color);
     font-size: 1.3rem;
     font-family: monospace;
     font-weight: 600;
     color: white;
 }
 .container{
     position: relative;
     max-width: 90rem;
     width: 100%;
     margin: 0 auto;
     padding: 0 3rem;
     z-index: 10;
 }
 .links ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.links a{
    color: var(--text-color);
    margin-left: 4.5rem;
    display: inline-block;
    transform: 0.3s;
    font-weight: 600;
}
.links a:hover{
    color: var(--primary-hover);
    transform: scale(1.05);
}
.overlay{
    display: none;
}
.hamburger-menu{
    width: 2rem;
    position: relative;
    z-index: 99;
    height: 2rem;
    background-color: rgb(255, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}
.hamburger-menu .bar{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgb(58, 58, 58);
    border-radius: 3px;
    transition: 0.5s;
}
.bar::before, .bar::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 3px;
    transition: 0.5s;

}
.bar::before{
    transform: translateY(-8px);
}
.bar::after{
    transform: translateY(8px);
}
.big-wrapper.active .hamburger-menu .bar{
    background-color: transparent;
}
.big-wrapper.active .bar::before{
    transform:  translateY(0) rotate(-45deg);
}
.big-wrapper.active .bar::after{
    transform:  translateY(0) rotate(45deg);
}
 header{
     position: relative;
     z-index: 70;
 }
 .mode{
     color: var(--darkOne);
 }
 .toggle-btn{
    display: inline-block;
    border: none;
    margin-left: 4.5rem;
    color: var(--text-color);
    outline: none;
    cursor: pointer;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: 0.3s;
}
.toggle-btn i{
    line-height: 30px;
}
.toggle-btn i:last-child{
    display: none;
}
.toggle-btn:hover{
    background-color: var(--primary-hover);
}
.big-wrapper.light .toggle-btn i:last-child{
    display: none;
}
.big-wrapper.light .toggle-btn i:first-child{
    display: block;
}
.big-wrapper.dark .toggle-btn i:last-child{
    display: block;
}
.big-wrapper.dark .toggle-btn i:first-child{
    display: none;
}


/* 
sibebar
*/
.box{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #f1f1f1;
}
.items{
    height: 40px;
    margin: 12px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
}
.items:hover{
    background-color:var(--primary-hover);
    
}
.drawer{
    display: flex;
    justify-content: center;
}

.drawer__box{
    background-color: #fbf0e4;
    border-radius: 18px;
    width: 320px;
    height: 100vh;
}
a{
    text-decoration: none;
}
span{
    font-size: 22px;
    padding: 18px;
    color: var(--text-color);
}
i{
    margin: 5px;
    color: var(--text-color);
}
.drawer__title{
    padding: 20px;
    color: #cb7455;
}

#header {
    position: relative;
    display: flex;
}
#header a:after {
    content: '';
    display: block;
    border-bottom: 3px solid var(--text-color);
    width: 0;
    left: 0;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    transition-delay: 0s;
}
  
#header a:hover:after { 
    width: 100%; 
    border-bottom: 3px solid var(--primary-color);
}
  
#header a {
    color: #4299e1;
    text-decoration:none; 
}
  
#header a:hover {
    color: #000; 
}
i:hover{
    color: var(--primary-hover);
}
.active{
    background-color: var(--primary-hover);

}
.drawer__nav{
    display: flex;
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
  
}
.drawer__box1{
    height: 71rem;
    background-color: var(--backgroungColor);
    border-right: 3px solid #d8d8d8;
}
.sidebar-progress{
    width: 1.3rem;
    height: 0.3rem;
    background-color: #1e1f1f;
    border-radius: 5px;
    margin-left: 1rem;
}
.sidebar-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
}
/* 
 main content
*/
.iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 2rem;
}
.content{
    padding: 2px 4rem;
    height: 100%;
}
.txt-color{
    color: var(--darkOne);
}
p{
    font-size: 20px;
    line-height: 32px;
    color: var(--text-color);
}
.drawer__items1{
  height: 100%;

}
small{
    padding: 10px;
    font-size: 22px;
}
.footer{
    background-color: #ff9a77;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 4rem;
    
}
.next-pre-btns {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    margin-top: 3rem;
  }
  .ml-auto{
    margin-left: auto;
  }
  
  .next-pre-btns i {
    font-size: 1.5rem;
  }
  .footer{
    display: flex;
    justify-content: center; 
    gap: 50px;
}
.fw-900{
    font-weight: 900;
    }
.fw-700{
        font-weight: 700;
    }
.fw-400{
        font-weight: 400;
    }
.fw-300{
        font-weight: 300;
    }
.fw-100{
        font-weight: 100;
    }
    .text-strike-through{
        text-decoration: line-through;
    }
    .text-underline{
        text-decoration: underline;
    }
    .text-bold-weight{
        font-weight: 700;
    }
    .text-light-weight{
        font-weight: 300;
    }
    .text-regular-weight{
        font-weight: 500;
    }
    .text-small-size{
        font-size: 0.875rem;
    }
    .text-mark{
        background-color: gray;
    }
    .primary-text-color{
        color: rgb(241, 162, 15);
    }
    .secondary-text-color{
        color: blueviolet;
    }

    /* 
Media Screens
*/
@media screen and (max-width: 870px) {
 
    .drawer__box1{
        display: none;
    }
    section{
        width: 69%;
    }
    .alert-with-bckg {
        width: 100%;
    }

}
@media screen and (max-width: 670px) {
 
    section{
        width: 52%;
    }
    .bg-color {
        color: white;
        font-size: 1rem;
        font-family: monospace;
        font-weight: 600;
    }
    .logo-mg {
        width: 36%;
    }
    .links a {
        color: var(--text-color);
        font-weight: 600;
        margin-left: 1.5rem;
        display: inline-block;
        transform: 0.3s;
    }
    .alert-with-bckg {
        width: 100%;
    }
    

}
@media screen and (max-width: 470px) {
    
    .big-wrapper{
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        background-color: var(--backgroungColor);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    section{
        width: 38%;
    }
    .alert-with-bckg {
        width: 100%;
    }
    .alert-box{
        font-size: 12px;
    }
    .bg-color {
        color: white;
        font-size: .9rem;
        font-family: monospace;
        font-weight: 600;
    }
    .logo-mg {
        width: 10%;
    }
    .links a {
        visibility: hidden;   
    }
    .toggle-btn{
        height: 32px;
        width: 36px;
    }
    .content{
        padding: 0 1rem;
    }
    .h1{
        font-size: 30px;
    }
    header{
        margin-top: -27px;
    }
    p{
        font-size: 14px;
        line-height: 32px;
        color: var(--text-color);
        padding: 1rem;
    }
    span {
        font-size: 16px;
        padding: 12px;
        color: var(--text-color);
    }
    .badges{
        width: 100%;
    }
    .iframe {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        padding: 3rem 2rem;
    }
    .footer{
        height: 2rem;
    }
    .next-pre-btns i {
        font-size: 1rem;
    }


}
@media screen and (max-width: 370px) {
    .toggle-btn {
        margin-left: 2.5rem;   
    }
    section{
        width: 36%;
    }
    .alert-box{
        font-size: 8px;
    }
    .content{
        width: 80%;
    }
    h1{
        font-size: 30px;
    }
}