@import "/reset.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.dark{

    --backgroungColor:#1e1f1f;
    --darkOne:#312f3a;
    --darkTwo:#45424b;
    --text-color: #e5e5e5;;
    --slider-progress:#f79443;
    --display-box:#505050;
}

.light{

    --mainColor:#64bcf4;
    --hoverColor:#5bacdf;
    --backgroungColor:#ECE8E4;
    --darkOne:#312f3a;
    --darkTwo:#45424b;
    --text-color:rgb(100 77 69);
    --slider-progress:#f79443;
    --display-box:#f1f1f1;
}
h1{
    margin: 2rem 0;
    font-size: 40px;
    font-weight: 600;
    /* color: #178181; */
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color);

}
li{
    list-style: none;
    color: var(--text-color);
}
.big-wrapper{
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroungColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    position: relative;
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}
header .container{
    background-color: #ff8358;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.hero-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
 }
 .logo-mg{
     width: 35%;
     margin-right: -1rem;
 }
 .bg-color{
     color: white;
     font-size: 1.3rem;
     font-family: monospace;
     font-weight: 600;
 }
 .container{
     position: relative;
     max-width: 90rem;
     width: 100%;
     margin: 0 auto;
     padding: 0 3rem;
     z-index: 10;
 }
 .links ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.links a{
    color: var(--text-color);
    margin-left: 4.5rem;
    display: inline-block;
    transform: 0.3s;
    font-weight: 600;
}
.links a:hover{
    color: var(--primary-hover);
    transform: scale(1.05);
}
.overlay{
    display: none;
}
.hamburger-menu{
    width: 2rem;
    position: relative;
    z-index: 99;
    height: 2rem;
    background-color: rgb(255, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}
.hamburger-menu .bar{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgb(58, 58, 58);
    border-radius: 3px;
    transition: 0.5s;
}
.bar::before, .bar::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 3px;
    transition: 0.5s;

}
.bar::before{
    transform: translateY(-8px);
}
.bar::after{
    transform: translateY(8px);
}
.big-wrapper.active .hamburger-menu .bar{
    background-color: transparent;
}
.big-wrapper.active .bar::before{
    transform:  translateY(0) rotate(-45deg);
}
.big-wrapper.active .bar::after{
    transform:  translateY(0) rotate(45deg);
}
 header{
     position: relative;
     z-index: 70;
 }
 .toggle-btn{
    color: var(--text-color);
    cursor: pointer;
    border: none;
    margin-left: 4.5rem;
    height: 37px;
    width: 35px;
    border-radius: 50%;
    transition: 0.3s;
}
.toggle-btn i{
    line-height: 30px;
}
.toggle-btn i:last-child{
    display: none;
}
.big-wrapper.light .toggle-btn i:last-child{
    display: none;
}
.big-wrapper.light .toggle-btn i:first-child{
    display: block;
}
.big-wrapper.dark .toggle-btn i:last-child{
    display: block;
}
.big-wrapper.dark .toggle-btn i:first-child{
    display: none;
}


/* 
sibebar
*/
.box{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    gap: 50px;
    height: 12rem;
    background-color: #f1f1f1;

}
.items{
    /* border: 2px solid #0c0000; */
    height: 40px;
    margin: 12px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
}
.items:hover{
    background-color: #D9C2FB;
    
}
.drawer{
    display: flex;
    justify-content: center;
}

.drawer__box{
    background-color: #fbf0e4;
    border-radius: 18px;
    width: 320px;
    height: 100vh;
}
a{
    text-decoration: none;
}
span{
    font-size: 22px;
    padding: 18px;
    color: var(--text-color)
}
i{
    margin: 5px;
    color: var(--text-color)
}
.drawer__title{
    padding: 20px;
    color: #cb7455;
}
 /* span:hover{
    color: #6200EE;
} */
#header {
    position: relative;
    display: flex;
  }
  #header a:after {
    content: '';
    display: block;
    border-bottom: 3px solid var(--text-color);
    width: 0;
    left: 0;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    transition-delay: 0s;
  }
  
  #header a:hover:after { 
    width: 100%; 
    border-bottom: 3px solid var(--primary-color);
  }
  
  #header a {
    color: #4299e1;
    text-decoration:none; 
  }
  
  #header a:hover {
    color: #000; 
  }
i:hover{
    color: #6200EE;
}
.active{
    background-color: #6200EE;

}
.drawer__nav{
    display: flex;
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
  
}
.drawer__box1{
    height: 71rem;
    background-color: var(--backgroungColor);
    border-right: 3px solid #d8d8d8;
}
.sidebar-progress{

    width: 1.3rem;
    height: 0.3rem;
    background-color: #1e1f1f;
    border-radius: 5px;
    margin-left: 1rem;
}
.sidebar-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
    

}
.header{
    background-color: #7d64ed;
    padding: 20px;
}
/* 
 main content
*/
.iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 2rem;
}
.content{
    padding: 2px 4rem;
    height: 100%
}
p{
    font-size: 20px;
    line-height: 32px;
    color: var(--text-color);
}
.drawer__items1{
  height: 100vh;

}
small{
    padding: 10px;
    font-size: 22px;
}

.next-pre-btns {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    margin-top: 3rem;
  }
  .ml-auto{
    margin-left: auto;
  }
  
  .next-pre-btns i {
    font-size: 1.5rem;
  }

  .btn{
    padding: 0.5rem 1rem;
    margin: 1.25rem 0;
    background-color: transparent; 
    border: 2px solid grey;
    font-size: 1rem;
    text-align: center;
    width: 12rem;
    cursor: pointer;
}
.btn-solid{
    background-color: var(--primary-hover);
}
.btn-outline{
    border: 2px solid #0dafa0;
}
.btn-bottom{
    border: none;
    text-decoration: underline;
}
/* 
DISBALE BTN
*/
.btn-disable{
    pointer-events: none;
    opacity: 0.5;
}
/* 
CSS FOR BTN SIZE
*/
.lg-btn{
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    min-width: 80px;
}
.sm-btn{
    font-size: 0.9rem;
    padding: 0.3rem 0.7rem;
    width: 112px;
}
/* 
CSS FOR TOGGLE BTN
*/
.btn-toggle{
    width: 26px;
    height: 44px;
    position: relative;
    cursor: pointer;
    display: block;
}
.toggle-pd{
    padding: 4px;
}
.checkbox{
    height: 0;
    width: 0;
    margin: 0;
    opacity: 0;
}
.btn-toggle .btn-slider{
    position: absolute;
    top:0;
    left:9px;
    height: 27px;
    width: 27px;
    background-color: var(--primary-hover);
    border-radius: 50%;
    transition: 0.4s;
}
.btn-toggle .btn-slider::before{
    position: absolute;
    content: "";
    top:0;
    left: 8px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgb(226, 226, 226);
    transition: 0.4s;
}
.btn-toggle .checkbox:checked + .btn-slider::before{
    transform: translateX(-18px);
}
.btn-toggle .checkbox:checked + .btn-slider{
    background-color: #66263f;
}
/* 
CSS FOR FLOATING BTN
*/
.btn-float{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 3.5rem;
    height: 2.9rem;
    font-size: 1.5rem;
    border-radius: 50%;
    color:#159673;
    background-color:var(--primary-hover);
}
.footer{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 4rem;
    
}

/* 
Media Screens
*/
@media screen and (max-width: 870px) {
 
    .drawer__box1{
        display: none;
    }
    section{
        width: 60%;
    }
    .alert-with-bckg {
        width: 100%;
    }

}
@media screen and (max-width: 670px) {
 
    section{
        width: 70%;
    }
    .bg-color {
        color: white;
        font-size: 1rem;
        font-family: monospace;
        font-weight: 600;
    }
    .logo-mg {
        width: 36%;
    }
    .links a {
        color: var(--text-color);
        font-weight: 600;
        margin-left: 1.5rem;
        display: inline-block;
        transform: 0.3s;
    }
    .alert-with-bckg {
        width: 100%;
    }
    

}
@media screen and (max-width: 470px) {
    
    .big-wrapper{
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        background-color: var(--backgroungColor);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    section{
        width: 44%;
    }
    .alert-with-bckg {
        width: 100%;
    }
    .alert-box{
        font-size: 12px;
    }
    .bg-color {
        color: white;
        font-size: .9rem;
        font-family: monospace;
        font-weight: 600;
    }
    .logo-mg {
        width: 10%;
    }
    .links a {
        visibility: hidden;   
    }
    .toggle-btn{
        height: 32px;
        width: 36px;
    }
    .content{
        padding: 0 1rem;
    }
    .h1{
        font-size: 30px;
    }
    header{
        margin-top: -27px;
    }
    p{
        font-size: 14px;
        line-height: 32px;
        color: var(--text-color);
        padding: 1rem;
    }
    span {
        font-size: 16px;
        padding: 12px;
        color: var(--text-color);
    }
    .badges{
        width: 100%;
    }
    .iframe {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        padding: 3rem 2rem;
    }
    .footer{
        height: 2rem;
    }
    .next-pre-btns i {
        font-size: 1rem;
    }


}
@media screen and (max-width: 370px) {
    .toggle-btn {
        margin-left: 2.5rem;   
    }
    section{
        width: 50%;
    }
    .alert-box{
        font-size: 8px;
    }
    .content{
        width: 80%;
    }
    h1{
        font-size: 30px;
    }
}