<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snackBars</title>
    <link rel="stylesheet" href="/components/Toast/snackbar.css">
</head>
<body>
     <div class="box">
         <div class="snackbar1">
             <span>Can't send photo. Retry in 5 seconds.</span>
             <div class="action1">
                 <a href=""><span class="retry">RETRY</span></a>
                 <button class="btn">X</button>
             </div>
         </div>
         <div class="snackbar__box">
             <div class="snackbar__action">
                 <div class="baseline"><button class="btn2">Baseline</button></div>
                 <div class="leading"><button class="btn2">Leading</button></div>
                 <div class="stacked"><button class="btn2">Stacked</button></div>
                 </div>
             <div class="bar"></div>
         </div>
     </div>


    <script src="/components/Toast/snackbar.js"></script>
</body>
</html>