.list-style-none{
    list-style: none;
    padding-inline-start: 0;
}
.list-pd{
    border: 1px solid white;
    padding: 1rem 5rem;
}
.styled-list{
    margin-bottom: 1rem;
}
.list-box{
    background-color: black;
    color: white;
    width: 300px;
    height: 460px;
}
.inline-list{
    display: flex;
    gap: 20px;
}
.list.list-stacked {
    padding: 2rem 0px;
    margin: 0.9rem 0.9rem;
}
.list {
    list-style-type: none;
    border: 1px solid #e6e6e9;
    width: 17em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}