 
 .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  .box__border{
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
    background-color: rgb(255, 255, 255);
  }
  .box {
    gap: 50px;
  }
  .dialog__box {
    width: 16rem;
    height: 9rem;
  }
  .dialog__header {
    margin-right: 6rem;
    margin-bottom: 18px;
  }
  .dialog__btn {
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    /* background-color: */
  
    /* gap: 8px; */
  }
  button {
    border: none;
    padding: 6px;
  
    background-color: rgb(255, 255, 255);
    color: #7721f0;
    font-size: large;
    font-family: monospace;
    font-weight: 600;
  }
  button:hover {
    background-color: rgb(248, 248, 248);
  }
  
  /* 
    STACKED DAILOG
  */
  .dialog__box0 {
    width: 16rem;
    height: 11rem;
  }
  .dialog__header0 {
    margin-right: 6rem;
    margin-bottom: 18px;
  }
  .dialog__btn0 {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
  }
  
  /*  
  CSS FOR SIMPLE DIALOG BOX 
  */
  .dialog__box1 {
    width: 16rem;
    height: 15.4rem;
  }
  .head {
    font-size: 22px;
    margin: 1rem;
    /* margin-top: 60px; */
    padding-top: 8px;
  }
  li {
    list-style: none;
    display: flex;
    padding: 2px;
    font-size: 22px;
    padding-left: 12px;
    align-items: center;
  }
  li:hover {
    background-color: #e8dff5;
  }
  
  i {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    /* font-size: px; */
    margin-right: 8px;
  }
  .fa-user-circle-o {
    font-size: 34px;
    color: grey;
    padding-right: 8px;
  }
  /* 
  CSS FOR SCROLLABLE DAILOG BOC
  */
  
  .dialog__box2 {
    width: 16rem;
    height: 21rem;
  }
  .dialog__content2 {
    padding: 12px;
    overflow-y: scroll;
    height: 10.5rem;
  }
  .items {
    padding: 12px 1px;
    font-size: 20px;
  }
  .dialog__btn2 {
    margin-left: 4rem;
    display: flex;
  }
  .btn-py {
    padding: 12px;
  }
  input {
    margin: 12px;
  }
  /* 
  CSS STACKED DAILOG
  */
  .dialog__box3 {
    width: 16rem;
    height: 23rem;
  }
  .dialog__content3 {
    padding: 12px;
    overflow-y: scroll;
    height: 10.5rem;
  }
  .items {
    padding: 12px 1px;
    font-size: 20px;
  }
  .dialog__btn3 {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
  }
  .btn-py {
    padding: 12px;
  }
  input {
    margin: 12px;
  }
  /* 
  css for btns
  */
  .py-3 {
    padding: 15px 42px;
    border: 2px solid rgb(117, 117, 117);
  }
  