<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilities & Lists</title>
    <link rel="stylesheet" href="text.css">
</head>
<body>
    <h1>H1 - Heading 1 </h1>
    <h2>H2 - Heading 2 </h2>
    <h3>H3 - Heading 3 </h3>
    <h4>H4 - Heading 4 </h4>
    <h5>H5 - Heading 5 </h5>
    <h6>H6 - Heading 6 </h6>

    <p class="font-size-6">Font Size 6 </p>
    <p class="font-size-5">Font Size 5</p>
    <p class="font-size-4">Font Size 4</p>
    <p class="font-size-3">Font Size 3</p>
    <p class="font-size-2">Font Size 2</p>
    <p class="font-size-1">Font Size 1</p>


        <div class="div1 flex">
        <h5 class="fw-900">Font weight 900 </h5>
        <h5 class="fw-700">Font weight 700 </h5>
        <h5 class="fw-400">Font weight 400 </h5>
        <h5 class="fw-300">Font weight 300 </h5>
        <h5 class="fw-100">Font weight 100 </h5>
    </div>

        <div class="div2 flex">
        <p class="text-light-weight">Text with light font weight</p>
        <p class="text-regular-weight">Text with regular font weight</p>
        <p class="text-strike-through">This line of text is meant to be treated as no longer accurate.</p>
        <p class="tertiary-text-color">Text with tertiary-color</p>
        <p class="secondary-text-color">Text with secondary-color</p>
        <p class="text-bold-weight">Text with bold font weight</p>
        <p><small class="text-small-size">Small size text</small></p>
        <p>You can use the mark tag to <mark class="text-mark">highlight</mark> text.</p>
        <p class="primary-text-color">Text with primary-color</p>
    </div>


    <script src="/index.js"></script>
</body>
</htm>